body {margin:10px; background-color: #ffffcc/*light yellow*/; font-family: Arial,sans-serif;}

nav {padding-bottom: 15px; font-family: times, serif; font-size: 16px; text-align: center; word-spacing: 30px;}

h1 {color: #00cccc/*turquise*/; text-align: left;}

h2 {color: #004c4c/*teal*/; text-align: left;}

body, h3 {color: #004c00/*dark green*/; text-align: left;}

td {padding-right: 30px; padding-bottom: 10px; text-align: left; font-size: 16px;}

ol li {color: gold;}

p {line-height: 20px;}

button {background-color:#009900/*green*/; font-weight: bold; font-size: 14px;}

button:hover {background-color:  #ffcc00/*gold*/;}

.end {padding-bottom: 20px;}

#me {color: #ffcc00/*gold*/;}

@media (max width: 480px) {  div {display: none;}   }
